#google-maps {
  height: 840px;
}

.ais-hits--item {
  cursor: pointer;
  transition: background-color, border-left 150ms;
}

.ais-hits--item__marker-hover,
.ais-hits--item__marker-active {
  background-color: #f3f4f7;
}

.ais-hits--item__marker-active {
  border-left: 2em solid #46aeda;
  padding-left: 1em;
}
