.ais-googlemaps--pin-wrapper {
  /* Ask SVG to scale entirely: https://css-tricks.com/scale-svg/#article-header-id-9 */
  width: auto;
}

.ais-googlemaps--marker {
  cursor: pointer;
  width: 20px;
  height: 32px;
}

.ais-googlemaps--marker__hover,
.ais-googlemaps--marker__active {
  transition: transform 100ms;
  transform: scale(1.4) translateY(-7px);
  z-index: 1;
}

.ais-googlemaps--marker__hover .ais-googlemaps--pin,
.ais-googlemaps--marker__active .ais-googlemaps--pin {
  fill: #e6d2fc;
  stroke: #354c89;
}

.ais-googlemaps--pin {
  fill: #46aeda;
  stroke: #1f3b5d;
  transition: fill 150ms;
  text-shadow: 3px 3px 0 black;
}

.ais-googlemaps--pin-circle {
  fill: #ffffff;
  stroke: #1f3b5d;
}

.ais-googlemaps--infobox {
  min-width: 150px;
  text-align:center;
  background: #fff;
  border: 2px solid #46aeda;
  border-radius: 3px;
  padding: .5em 1em;
}
